RAILS_ENV=development
SECRET_KEY_BASE=1234

## Postgres
POSTGRES_HOST=db
POSTGRES_DB= openstreetmap
POSTGRES_PASSWORD=openstreetmap
POSTGRES_USER=postgres
DATABASE_URL=postgres://postgres:openstreetmap@db:5432/openstreetmap
POSTGRES_PORT=5432

### for iD and website
OPENSTREETMAP_id_key=1234
OAUTH_CLIENT_ID=abcd
OAUTH_KEY=abcd

OPENSTREETMAP_memcache_servers=memcached:11211
SERVER_URL=localhost:3000
SERVER_PROTOCOL=http
WEBSITE_STATUS=online

NOMINATIM_URL=nominatim.openstreetmap.org
OVERPASS_URL=overpass-api.de


RAILS_CREDENTIALS_YML_ENC=abcd+
RAILS_MASTER_KEY=abcd

### Admin user
ADMIN_USER=admin
ADMIN_PASSWORD=12345678

### Restore backup
BACKUP_FILE_URL=https://osmseed-dev.s3.amazonaws.com/backup_test_ohm.sql
RAILS_LOG_LEVEL=debug
RAILS_STORAGE_SERVICE=local
